<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <title>Teaching World</title>

  <style>
    .title {
      margin-top: 80px;
    }

  </style>


</head>
<body>

  <div class="container">
    <h1 class="text-center title text-info" style="border-bottom: 1px solid grey; padding: 30px 0px;">ようこそ, 勉強質問サイト<br> <span class="text-success">Teaching World</span> へ.</h1>

    <main>
      <section class="py-5">
        <h1 class="text-center my-5 text-muted">Teaching Worldでできること.</h1>
        <div class="container">
          <div class="mb-5 row">
            <div class="col-sm-8">
              <h2 class="font-weight-bold my-5 text-primary">分からない問題を質問できる</h2>
              <p class="text-muted">
                家庭学習をしているときに, どうしても分からない問題をいつでも質問することができます.
                学校ではなかなか質問する勇気が出ない生徒も, Teaching Worldを利用することで簡単に他ユーザに質問することができます.
                また, 他ユーザの質問を解答することで自分の実力向上にもなります.
              </p>
            </div>
            <div class="col-sm-4">
              <img src="img/illustrain01-nyugakusiki30.png" class="w-100 rounded-circle">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 order-sm-2">
              <h2 class="font-weight-bold my-5 text-primary">模試を受けられる(ただいま準備中).</h2>
              <p class="text-muted">常設模試で常に問題を解くことができます. さらに, 定期的に行われる実力模試で全国の生徒と力比べをすることができます.</p>
            </div>
            <div class="col-sm-4 order-sm-1">
              <img src="img/illustrain01-sotugyousiki02.png" class="w-100 rounded-circle">
            </div>
          </div>
        </div>
      </section>


      <!--
      <section class="bg-light text-center py-5">
      <h2 class="mb-5">Plans</h2>
      <div class="container">
      <table class="table table-hover">
      <thead>
      <tr> <th>Plan A</th> <th>Plan B</th> </tr>
    </thead>

    <tbody>
    <tr> <td>A</td> <td>B</td> </tr>
    <tr> <td>As</td> <td>Bs</td> </tr>
    <tr> <td>Ass</td> <td>Bss</td> </tr>
  </tbody>
</table>
</div>
</section>

<section class="py-5">
<h2 class="mb-5 text-center">How to user</h2>
<div class="container">
<ul class="nav nav-tabs">
<li class="nav-item"><a href="#ios" class="nav-link active" data-toggle="tab">iOS</a></li>
<li class="nav-item"><a href="#android" class="nav-link" data-toggle="tab">Android</a></li>
</ul>

<div class="tab-content py-4">
<div id="ios" class="tab-pane active">
<p>Hello, <span class="font-weight-bold text-info" data-toggle="tooltip" title="This is awesome" data-placement="bottom">iOS</span>.</p>
</div>
<div id="android" class="tab-pane">
<p>Hello, Android.</p>
</div>
</div>
</div>
</section>

<section class="bg-light text-center py-5">
<a href="" class="btn btn-primary btn-lg">Get It Now!</a>
</section>
-->


</main>
</div>


</body>
</html>
